<a href="https://colab.research.google.com/github/harikanemala/Machine-Learning/blob/main/CatEncoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Example dataset of fruits
data = {
    'Fruit': ['Apple', 'Banana', 'Orange', 'Apple', 'Orange', 'Banana', 'Apple', 'Orange', 'Banana']
}

# Convert into a DataFrame
df = pd.DataFrame(data)

# Display original data
print("Original Dataset:")
print(df)

# ---- 1. Categorical Encoding ----
# We will encode the 'Fruit' column with integers (Categorical Encoding)
df['Fruit_Categorical'] = pd.Categorical(df['Fruit']).codes

# Display after Categorical Encoding
print("\nDataset after Categorical Encoding:")
print(df)

# ---- 2. One-Hot Encoding ----
# One-Hot Encoding will create a binary column for each category in the 'Fruit' column
df_one_hot = pd.get_dummies(df['Fruit'], prefix='Fruit')

# Display after One-Hot Encoding
print("\nDataset after One-Hot Encoding:")
print(pd.concat([df, df_one_hot], axis=1))

Original Dataset:
    Fruit
0   Apple
1  Banana
2  Orange
3   Apple
4  Orange
5  Banana
6   Apple
7  Orange
8  Banana

Dataset after Categorical Encoding:
    Fruit  Fruit_Categorical
0   Apple                  0
1  Banana                  1
2  Orange                  2
3   Apple                  0
4  Orange                  2
5  Banana                  1
6   Apple                  0
7  Orange                  2
8  Banana                  1

Dataset after One-Hot Encoding:
    Fruit  Fruit_Categorical  Fruit_Apple  Fruit_Banana  Fruit_Orange
0   Apple                  0         True         False         False
1  Banana                  1        False          True         False
2  Orange                  2        False         False          True
3   Apple                  0         True         False         False
4  Orange                  2        False         False          True
5  Banana                  1        False          True         False
6   Apple                  0         True         False         False
7  Orange                  2        False         False          True
8  Banana                  1        False          True         False